<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wang.relish.whatsnew">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="wang.relish.whatsnew.MainActivity"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 只有包含android.intent.action.MAIN 和
            android.intent.category.LAUNCHER的Activity可以静态配置shortcuts -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="wang.relish.whatsnew.n.MultiWindowSampleActivity"
            android:taskAffinity="" />
        <activity
            android:name="wang.relish.whatsnew.n.ActiveNotificationsSampleActivity"
            android:taskAffinity="" />
        <activity
            android:name="wang.relish.whatsnew.n.MessagingServiceSampleActivity"
            android:taskAffinity="" />
        <activity
            android:name="wang.relish.whatsnew.n.DirectBootSampleActivity"
            android:taskAffinity="" />
        <activity
            android:name="wang.relish.whatsnew.n.ScopedDirectoryAccessSampleActivity"
            android:taskAffinity="" />
        <activity
            android:name="wang.relish.whatsnew.n.multiwindowplayground.AdjacentActivity"
            android:taskAffinity="" />
        <activity
            android:name="wang.relish.whatsnew.n.multiwindowplayground.UnresizableActivity"
            android:resizeableActivity="false" />

        <activity android:name="wang.relish.whatsnew.n.ShortcutsSampleActivity" />
        <activity android:name="wang.relish.whatsnew.n.QuickSettingSampleActivity" />
        <activity android:name="wang.relish.whatsnew.n.MainActivity" />
        <activity android:name=".q.CameraActivity" />
        <activity android:name=".q.StorageActivity" />
        <activity android:name=".q.CameraActivity" />

        <service
            android:name="wang.relish.whatsnew.n.messagingservice.MessagingService"
            android:taskAffinity="" />

        <receiver
            android:name="wang.relish.whatsnew.n.messagingservice.MessageReadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="wang.relish.android7.sample.messagingservice.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="wang.relish.whatsnew.n.messagingservice.MessageReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="wang.relish.android7.sample.messagingservice.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="wang.relish.whatsnew.n.directboot.BootBroadcastReceiver"
            android:directBootAware="true"
            android:exported="false">
            <!-- Listening the BOOT_COMPLETED action for legacy pre-N devices -->
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="wang.relish.whatsnew.n.directboot.alarm.AlarmIntentService"
            android:directBootAware="true"
            android:exported="false" />
        <service
            android:name="wang.relish.whatsnew.n.quicksettings.QuickSettingService"
            android:icon="@drawable/ic_android_black_24dp"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


    </application>

</manifest>